<div class="black-background-sign-up">

<!-- 	<div class="sign-up-container">
 -->
	<div class="sign-up-form">
		<h1 id="sign-in-title-new">Sign in</h1>

		<%= form_for(:session, url: sessions_path, :html => {:class => "pure-form, pure-form-aligned"}) do |f| %>

		<div class="pure-control-group center">
<!-- 		  <%= f.label :email %>
 -->		  <%= f.text_field :email, :placeholder => 'Email' %>
		</div>

		<div class="pure-control-group">
<!-- 		  <%= f.label :password %>
 -->		  <%= f.password_field :password, :placeholder => 'Password' %>
		</div>

		<div class="pure-control-group">
		  <%= f.submit "Sign in", :class => 'pure-button, pure-button-primary' %>
		<% end %>
		</div>

		<div class="pure-control-group">
			<%= link_to "Sign up!", signup_path, :class => 'pure-button, sign-up-button-form' %>
		</div>
<!-- 	</div>
 -->
</div>
	<div class='black-bottom-signup'>
	</div>
	 <p class="footer-logo">power by You</p>

</div>
