<head>
  <link rel="stylesheet" href="//assets.ziggeo.com/css/ziggeo-betajs-player.min.css" />
  <%# <link rel="stylesheet" href="https://yui.yahooapis.com/pure/0.6.0/pure-min.css"> %>

  <script src="//assets.ziggeo.com/js/ziggeo-json2-betajs-player.min.js"></script>
  <script>ZiggeoApi.token = "2deecf9c00f2077ad7ca6e9e383b5c92";</script>
</head>


<div class="container">
  <div class="black-background">
  </div>



  <div class="pic-circles-section">
    <div class="image-area">
    </div>
    <div class="profile-pic">
    </div>
    <div class="fm-circle">
      <h3>fm</h3>
    </div>
    <div class="fr-circle">
      <h3>fr</h3>
    </div>

   <%# <%= link_to new_user_memorialized_path(@user) do %1> %>
   <%= link_to new_user_subject_path(@user) do %>
      <div class="create-circle">
        <h3>+</h3>
      </div>
   <% end %>

    <div class="create-circle-hardcode">
      <h3>+</h3>
    </div>


      <% counter = 1 %>
      <% family_array = [] %>
      <% friend_array = [] %>
      <% coworker_array = [] %>


      <% @subjects.each do |subject| %>      

          <% relationship = subject.group_tag %>

          <% if relationship == "family" %>
              <% family_array.push(subject.id) %>
            <% elsif relationship == "friend" %>
              <% friend_array.push(subject.id) %>
            <% else %>
              <% coworker_array.push(subject.id) %>
          <% end %>

      <% end %>
            
      <%# <% @memories_hash.each do |memory_array| %1> %>      
      <%#     <% memorialized_user = User.find(memory_array[0]) %1> %>
      <%#     <% find_relation = @user.relationships.find_by(memorialized_id: memorialized_user.id) %1> %>
      <%#     <% relationship = find_relation.group_tag %1> %>
      <%#     <% if relationship == "family" %1> %>
      <%#         <% family_array.push(memorialized_user.id) %1> %>
      <%#       <% elsif relationship == "friend" %1> %>
      <%#         <% friend_array.push(memorialized_user.id) %1> %>
      <%#       <% else %1> %>
      <%#         <% coworker_array.push(memorialized_user.id) %1> %>
      <%#     <% end %1> %>
      <%# <% end %1> %>


      <% family_array.each do |each| %>
           <div id= <%=each%> class="circle circle-<%=counter%>">
           </div>
           <% counter = counter + 1 %>
      <% end %>

          <% if counter < 5 %>
             <% counter = 5 %>
          <% end %>


      <% friend_array.each do |each| %>
           <div id= <%=each%> class="circle circle-<%=counter%>">
           </div>
           <% counter = counter + 1 %>
      <% end %>

          <% if counter < 10 %>
              <% counter = 10 %>
          <% end %>

      <% coworker_array.each do |each| %>
           <div id= <%=each%> class="circle circle-<%=counter%>">
           </div>
           <% counter = counter + 1 %>
      <% end %>

    </div>


 </div>


<!-- //**************DATA FOR DOM MANIPULATIONS******************************/
 -->

  <%# <ul class="dead"> %>
  <%#    <% deceased_array.each do |each| %1> %>
  <%#      <li> <%= each %1>, </li> %>
  <%#    <% end %1> %>
  <%# </ul> %>

  <div class="data">
    <div class="black-background-data">
    </div>
    <h1><%= @user.full_name %>'s Memories</h1>
    <p><%= link_to("Memorialize Someone!", new_user_subject_path(@user) ) %></p>

    <% @subjects.each do |subject| %>

      <hr>
      <h2><%= @user.first_name %>'s memories about <%= subject.name %></h2>

      <h1>RELATION: <% subject.group_tag%> </h1>

      <h1>subject_id: <%= subject.id %></h1>

      <div class="full-name">
        <h5 class=<%= subject.id %>> <%=subject.name%></h5>
      </div>

      
      <ul>

        <% if subject.twilio_number != nil %>
           <p id=<%='phone-number-' + subject.id.to_s%>>Create a memory about <%= subject.name %>, text <%= subject.twilio_number %></p>
        <% end %>


        To create a video memory about <%= subject.name %>, click  <%= link_to("Create Video", new_user_subject_memory_path(user_id:@user.id, subject_id:subject.id), id: 'video-link-' + subject.id.to_s)%>

        <% subject.memories.each do |memory| %>

            <% if memory.content.starts_with?("ziggeo") %>

            <div id=video-<%=subject.id%> class="video-data">
                <ziggeo ziggeo-video = <%= memory.content[6..-1] %> ziggeo-width=320 ziggeo-height=240> </ziggeo> 
            </div>
            <% else %>
            <li class=<%=subject.id%>><%=memory.content %></li>
            <div id=image-<%=subject.id%> class="image-data"><%=memory.image_url%></div>
            <p> <%=memory.created_at%> </p>
        <% end %>
      <% end %>
    
    </ul>
    <% end %>
  </div>
