


<div class="container">

  <div class="content-video">
  </div>

    <div class="pic-circles-section">
      <div class="profile-pic">
      </div>

      <% counter = 1 %>
         <% @memories_hash.each do |memory_array| %>
           <% memorialized_user = User.find(memory_array[0]) %>
           <div id= <%=memorialized_user.id%> class="circle circle-<%=counter%>">
           </div>
      <% counter = counter + 1 %>
      <% end %>
    </div>
 </div>

  *************************


  <div class="data">
    <hr>
    <h1><%= @user.full_name %>'s Memories</h1>

    <% @memories_hash.each do |memory_array| %>
      <% memorialized_user = User.find(memory_array[0]) %>
      <h2><%= @user.first_name %>'s memories about <%= memorialized_user.full_name %></h2>


      <% if memorialized_user.public %>
      <p><%= link_to("See all memories about #{memorialized_user.first_name}", url_for(controller: 'remember', action: 'show', user_id:memorialized_user.id)) %></p>
      <% end %>






    <div id=<%= memorialized_user.id %> class="circle"></div>



     <ul>
        <h1> <%= memory_array.length%> </h1>
        <% memory_array[1].each do |memory| %>
          <li class=<%=memory.id%>><%=memory.content %></li>
        <% end %>
      </ul>

    <% end %>
  </div>

















