


<div class="container">

<!--   <div class="content-video">
  </div> -->
  <div class="black-background">
  </div>

    <div class="pic-circles-section">
      <div class="profile-pic">
      </div>
      <div class="fm-circle">
        <h3>fm</h3>
      </div>
      <div class="fr-circle">
        <h3>fr</h3>
      </div>
      <div class="co-circle">
        <h3>co</h3>
      </div>
      <% counter = 1 %>
         <% @memories_hash.each do |memory_array| %>
           <% memorialized_user = User.find(memory_array[0]) %>
           <div id= <%=memorialized_user.id%> class="circle circle-<%=counter%>">
           </div>
      <% counter = counter + 1 %>
      <% end %>
    </div>
 </div>

  *************************


  <div class="data">
    <hr>
    <h1><%= @user.full_name %>'s Memories</h1>

    <% @memories_hash.each do |memory_array| %>
      <% memorialized_user = User.find(memory_array[0]) %>
      <h2><%= @user.first_name %>'s memories about <%= memorialized_user.full_name %></h2>

      <% if memorialized_user.public %>
      <p><%= link_to("See all memories about #{memorialized_user.first_name}", url_for(controller: 'remember', action: 'show', user_id:memorialized_user.id)) %></p>
      <% end %>


    <div id=<%= memorialized_user.id %> class="circle"></div>

    <h1>memoralized_user_id: <%= memorialized_user.id %></h1>

    <div class="full-name">
      <h5 class=<%= memorialized_user.id %>> <%=memorialized_user.full_name%></h5>
    </div>

     <ul>
        <% memory_array[1].each do |memory| %>
          <li class=<%=memorialized_user.id%>><%=memory.content %></li>
          <p> <%=memory.created_at%> </p>
        <% end %>
    </ul>

    <% end %>
  </div>

















