<!DOCTYPE html>
<html>
  <head>
    <title>Legacy</title>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <%# <link rel="stylesheet" href="https://yui.yahooapis.com/pure/0.6.0/pure-min.css"> %>
    <link href='http://fonts.googleapis.com/css?family=Quattrocento+Sans:400,700,700italic|Ubuntu' rel='stylesheet' type='text/css'>
  </head>
  <body>

    <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>"><%= value %></div>
    <% end %>
    <nav>

          <%= link_to current_user, class: 'logo-link' do %>
            <span class="my-span">my</span><span class="journey-span">Journey</span>
          <% end %>
          
      <% if signed_in? %>
         <%= link_to "Log Out", signout_path, method: 'delete', class: 'right' %>


          <%= link_to edit_user_path(current_user) do %>
            <i class="fa fa-cog fa-lg"></i>
          <% end %>

        <% else %>
          <%= link_to "Sign in", signin_path, class: 'right' %>
        <% end %>
    </nav>
    <%= yield %>

  </body>
</html>
