<!DOCTYPE html>
<html>
  <head>
    <title>Legacy</title>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
  </head>
  <body>

    <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>"><%= value %></div>
    <% end %>
    <nav>
      <p class="logo">legacy</p>
        <% if signed_in? %>
         <%= link_to "Sign out", signout_path, method: 'delete', class: 'right' %>
          <%= link_to "Dashboard", current_user, class: 'right' %>
          <%= link_to "Settings", edit_user_path(current_user), class: 'right' %>
        <% else %>
          <%= link_to "Sign in", signin_path, class: 'right' %>
        <% end %>
    </nav>
    <%= yield %>

<!--     <%= debug(params) if Rails.env.development? %>
 -->
 <p class="footer-logo">power by You</p>
  </body>
</html>
